.Burger {
    width: 100%;
    margin: auto;
    height: 25rem;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Desktop */
/* TODO: add and refactor media queries */
@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}